@import url('/css/root.style.css');

.btn {
    color: var(--light) !important;
    text-decoration: none;
    background-color: var(--secondary);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}