@import url('/css/root.style.css');

.btn {
    display: inline-block;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    font-weight: bold;
    transition: .4s;
}