#section {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.section {
    display: block;
    width: 50%;
    height: 100%;
    align-self: stretch;
}

#section__left {
    background-color: var(--secondary);
}

#section__right {
    background-color: var(--light);
}

#section__right .close {
    position: absolute;
    top: 10px;
    right: 15px;
}

#section__right .close__icon {
    /* color: var(--dark); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--light);
    background-color: var(--secondary);
    border-radius: 5px;
}

#section__right h1 p {
    padding: 0;
    margin: 0;
}

#section__right .content {
    margin: 80px 100px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

#section__right .content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section__right .header__title {
    text-transform: uppercase;
}

#section__right .content__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

#section__right .form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#section__right .form__input {
    border: 1px solid var(--grey);
}

#section__right .form-remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#section__right .form__submit {
    text-transform: uppercase;
    font-size: medium;
}